@media only screen and (min-width: 640px) {

  .forSale {
    text-align: center;
    padding-top: 10vw;
    height: 25vw;
    background-color: black;
  }

  h1 {
    /* color: red; */
    font-size: 3.2vw;
    padding: 10px;
  }

  p {
    padding: 10px;
    font-size: 2vw;
    }

  .landing {
    margin: 0 auto;
  }

  button {
    margin: 0 auto;
    width: 100%;
    color: black;
  }
  
}
/* ////// THIS IS YOUR MOBILE VIEW /////// */
/* ////// THIS IS YOUR MOBILE VIEW /////// */
/* ////// THIS IS YOUR MOBILE VIEW /////// */
/* ////// THIS IS YOUR MOBILE VIEW /////// */
/* ////// THIS IS YOUR MOBILE VIEW /////// */
/* ////// THIS IS YOUR MOBILE VIEW /////// */
/* ////// THIS IS YOUR MOBILE VIEW /////// */
/* ////// THIS IS YOUR MOBILE VIEW /////// */
@media only screen and (min-width: 640px) {
  .forSale {
    margin: 0 auto;
    text-align: center;
    padding-top: 10vw;
    height: 35vw;
    background-color: black;
  }

  button {
    margin: 0 auto;
    width: 100%;
    color: black;
  }
  

}

