/* desktop view */

#bold p {
  margin: 5px auto 5px auto;
  padding: 5px;
  padding-bottom: 0;
  /* border: 2px solid #0088dd; */
  text-align: center;
  font-size: 35px;
}

#bold {
  padding-top: 10px;
}

.details {
  text-align: center;
  padding: 5px;
  padding-top: 0;
  font-size: 20px;
}

.details ul {
  padding: 5px;
}

.email {
  color: white;
  font-size: 20px;
  text-decoration: underline;
}

.phone {
  color: white;
  font-size: 20px;
  text-decoration: underline;
}

.links {
  color: white;
  font-size: 20px;
  text-decoration: underline;
}

.email:hover {
  cursor: pointer; 
}

.phone:hover {
  cursor: pointer; 
}

@media screen and (max-width: 640px) {

  .details {
    text-align: justify;
    padding: 0 auto 0px auto;
    height: 140px;
    overflow: scroll;
  }

  #bold p {
    padding: 0;
  }

  p {
    text-align: center;
  }
}